    body{
    
 }
 .banner-background{
     background-color: #3e1645;
 }
 .jumbotron{
     background-color:  transparent;
 }

 
 /*eroor page css start*/
 
 .error-head img{
     width: 25rem;
     
     
 }
 /*eroor page css end*/
 
 